h1, h3 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.menu {
    height: 70px;
}

.menu ul li {
    display: inline;
    padding: 1rem;
    margin: 1rem;
    border: solid grey 1px;
    cursor: pointer;
}

.menu ul .active {
    background-color: yellow;
}

.game-board {
    border: solid rgb(222, 222, 222) 1px;
    width: 100px;
    height: 100px;
    margin: 7rem auto;
    line-height: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.game-board div {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    cursor: pointer;
}

.game-board div:hover {
    background-color: rgb(206, 239, 130);
}

[data-pixel-type="blank"] {
    background-color: rgb(63, 63, 63);
}

[data-pixel-type="board"] {
    background-color: rgb(214, 214, 214);
}

[data-pixel-type="wall"] {
    background-color: rgb(144, 144, 144);
}

[data-pixel-type="player"] {
    background-color: rgb(57, 60, 255);
}

[data-pixel-type="goal"] {
    background-color: rgb(219, 186, 0);
}

[data-pixel-type="enemy"] {
    background-color: rgb(220, 57, 39);
}
